<div id="step1 upload" style="">
	<div ngf-drop="uploadFiles($files)" class="dropBox" ngf-drag-over-class="dragover" ngf-multiple="true" ngf-pattern="'image/*,application/pdf'" style="display:none;">
		<div class="text" ng-hide="f">
			<h2>Drop a file anywhere on the screen or select the button below to get started</h2>
			<button class="btn" type="file" ngf-select="uploadFiles($file)"> Select a File to Upload</button>
		</div>
		<div class="progressBar" ng-show="f.progress && f.progress < 100">
			<div class="bar" style="width:{{f.progress}}%"></div>
		</div>
		<div class="afterUpload" ng-show="f.progress == 100">
			<h2>Congrats! Your file has been uploaded.</h2>
			<div class="filesPreview">
				<div class="filePreview" ng-repeat="file in f track by $index" ng-show="$index == 0">
					<!-- Change Image from temp to actual returned by API -->
					<p>
						<img src="images/pdf.png"/>
						{{f.name}}
					</p>
				</div>
			</div>
			<button class="btn">Continue</button>
		</div>
  	</div>

  	<div class="notTypeForm">
  		<input type="text" ng-model="formName" typeahead="formExample for formExample in formExamples | filter:$viewValue | limitTo:1" placeholder="Begin typing to select a government form" class="form-control" />
  	</div>
</div>



<div id="step2">
	<form class="customForm">
	<ol>
		<div class="formField" ng-repeat="formInput in formData track by $index" ng-class="{current : $index==currentStep}" ng-click="makeCurrentStep($index)">
			<li>
			<label>{{formInput.name}}</label>
			<input type="{{formInput.type}}" ng-model="formInput.value" id="input{{$index}}" my-enter="nextStep()"/>
			</li>
		</div>
	</ol>
	<button class="btn" ng-click="submitForm">Submit</button>
	</form>
</div>